@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Poppins:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #4c5c54;
  --second-color: #f3cb14;
  --body-color: #ffedd0;

  --main-font: 'Poppins', sans-serif;
  --logo-font: 'Cinzel', serif;
}

body {
  background-color: var(--body-color);
  font-family: var(--main-font);
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
